@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');

:root {
    --theme-clr: #1da1f2;
    --bg-clr: #15202b;
    --font-clr: #eee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #222;
    /* background-image: url('./assets/4.jpg'); */
    background-size: cover;
    background-position: center top;
}

h1.off-screen {
    position: absolute;
    transform: translateX(-100rem);
}

.highlight {
    color: var(--theme-clr);
    font-weight: 800;
    font-size: 1rem;
}

main {
    width: 50%;
    margin: 5rem auto;
    background-color: var(--bg-clr);
    color: var(--font-clr);
}
    main section {
        display: grid;
        grid-template-columns: 1fr 4fr;
        padding: 1.5rem;
    }
        main section > img {
            width: 100%;
        }

section  h4 {
    margin: .5rem 0;
}
section  p {
    margin: .5rem 0;
}

section .link {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}
    .link img {
        margin-right: .5rem;
    }